* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
}
 
body {
  min-height: 100vh;
  width: 100vw;
}

.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;}

  .lixo {
    width: 35px;
  }